/*El tipo de letra de toda la página dbe ser Calibri.*/
*{
	font-family:Calibri;
}
/*El tipo de letra de toda la página dbe ser Calibri.*/
h1{
	text-align:center;
	/*ejercicio4*/
	font-size:xx-large;
	text-shadow: 3px 3px 5px black;
	
}
/*Solamente el título Mis recetas de cocina debe aparecer en color azul.*/
/*El color del título de la página
debe tener transparencia de 0.4.*/
header>h1{
	color:rgb(0,0,255,0.4);
	
}
/*Los títulos de los platos deben tener aparecer en color verde.*/
/*Los h1 deben salir a un tamaño de fuente xx-large y con una sombra negra con
un desenfoque de 5px.*/
.tipoPlato h1{
	color:green;
	
}
/*Lo texto del pie de página deben aparecer centrados y de color silver.*/
footer{
	text-align:center;
	color:silver;
}
/*Los títulos de las recetas deben salir en cursiva y color naranja.*/
/*Los títulos de las recetas deben tener un espacio entre palabras de 10px.*/
.plato h2{
	color:orange;
	font-weight:bold;
	word-spacing:10px;
}
/*La primera receta de cada tipo de plato debe tener color de fondo beige.*/
.plato>li:first-child{
	background-color:beige;
}
/*La última receta de cada tipo de plato debe tener color de fondo bisque.*/
.plato>li:last-child{
	background-color:bisque;
}
/*Los párrafos ingredientes e instrucciones deben salir en negrita.*/
.plato p+p{
	font-weight:bold;
}
.plato p+p~p{
	font-weight:bold;
}
/*El texto de derechos de autor situado en el pie de página debe aparecer en cursiva.*/
#autor{
	font-style:italic;
}
/*Los enlaces tanto no visitados como visitados deben aparecer en color verde.*/
/*Los textos de los enlaces del índice, deben tener un espacio entre letras de 2px.*/
a:link{
	color:green;
	letter-spacing:2px;
}
a:visited{
	color:green;
}
/*Al pasar por encima de los enlaces, estos deben aparecer en color rojo.*/
a:hover{
	background-color:silver;
}
a:active{
	color:red;
}
/*La sección de envío de receta debe tener un fondo de color gris y el texto debe salir en blanco.*/
section.envio h1{
	color:white;
}
section.envio{
	background-color:grey;
	color:white;
}
/*La primera letra de cada título de receta debe salir a tamaño 40 pt.*/

ul.plato h2:first-letter{
	font-size:40pt;
}
/*Todos los campos del formulario deben tener un fondo amarillo al recibir el foco.*/
form :focus{
	background-color:yellow;
}

/*Transforma a mayúsculas los textos de los párrafos que aparecen después de los
títulos de cada receta, en negrita y con una sangría de 1a línea de 30px.*/                                                                                              *
.plato h2+p {
	text-transform:uppercase;
	text-indent: 30px;
	font-weight:bold;
	
}

/*La página debe tener el color de
fondo #EDEFEB y la imagen
gorros.png.*/
body{
	background: #EDEFEB url('img/gorros.png') repeat-x;
}
/*El índice se debe mostrar en una
sola línea.*/
.indice li{
	display:inline;
	
}
/*Quitar el icono de viñeta de los
platos.*/
.plato>li{
	list-style-type:none;
}

/*Los ingredientes deben tener
como símbolo la imagen
vineta.png.*/

p+ul{
	list-style-image:url('img/vineta.png');
}
/*Coloca la imagen cocinero.png en
la sección envío, a la derecha y
centrada verticalmente.*/
section.envio{
	
	color:white;
	background: gray no-repeat url('img/cocinero.png') right center;
}
/*Los enlaces deben salir
como se muestra en la
imagen. Fíjate en que al
pasar por encima el
botón se resalta.*/
.indice a{
	border: 2px inset green;
	border-radius:10px;
	padding: 10px;
	text-align: center;
}
