.casa{
	width: 300px;
	height: 300px;
	position:relative;
	background-color:grey;
	border:2px solid black;
	margin:100px auto;
}
.techo{
	width: 400px;
	height: 100px;
	position:absolute;
	background-color:red;
	margin:1px;
	border:2px solid black;
	top:-57;
	left:-28;
	
}
.amarillo{
	width: 255px;
	height: 85px;
	background-color:#ffc107;
	border:2px solid black;
	float:right;
	position:sticky;      
	top:30px;
	left:30px;
	margin:20px;
}
	
.ventana1, .ventana2{
	width: 55px;
	height: 55px;
	background-color:blue;
	border:2px solid black;
	position: absolute;
    top:150px;
	
}
.ventana1{
	left:200px;

}
.ventana2{
	left:40px;

}
.puerta{
	width: 75px;
	height: 68px;
	background-color:brown;
	border:2px solid black;
	position:absolute;
	top:230px;
	left:120px;

}